<div class="auth-container">
  <div class="auth-card">
    <h2>Log In to Your Account</h2>
    
    <form {{on "submit" this.handleLogin}}>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="your@email.com" value={{this.email}} {{on "input" this.updateEmail}} required>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="••••••••" value={{this.password}} {{on "input" this.updatePassword}} required>
      </div>
      
      {{#if this.errorMessage}}
        <div class="error-message">{{this.errorMessage}}</div>
      {{/if}}
      
      <button type="submit" class="btn btn-primary btn-block" disabled={{this.isLoading}}>
        {{#if this.isLoading}}Logging in...{{else}}Log In{{/if}}
      </button>
    </form>
    
    <div class="auth-footer">
      <p>Don't have an account? <a href="/register">Sign Up</a></p>
    </div>
  </div>
</div>
